.App {
  font-family: sans-serif;
  text-align: center;
}
#header {
  background-color: rgb(11, 70, 180);
  width: 100%;
  height: 70px;
  text-align: left;
  padding-top: 2px;
}
#header p {
  margin: 0px;
}
#header h1 {
  text-align: center;
  margin-top: 5px;
  color: yellow;
}
#table {
  background-color: lightblue;
  width: 100%;
}
#td {
  width: 300px;
  padding: 5px;
}
#td:hover {
  background-color: lightskyblue;
}
#footer {
  background-color: lightgrey;
  padding: 5px;
  margin: 0px;
  height: 50px;
  width: 100%;
  position: inherit;
  float: left;
}

#logo1 {
  width: 30px;
  height: 30px;
  float: left;
  margin: 0px;
  padding: 5px;
}
#p {
  margin: 0px;
}
#copyright {
  float: right;
  margin: 0px;
}

#slike {
  width: 90%;
  margin: 10px 60px 0px;
  margin: 0px;
  width: 100%;
}
#slike td {
  height: 200px;
  width: 400px;
  padding: 0px;
  padding: 10px;
}
#slike td img {
  border: solid lightgray;
  width: 100%;
  height: 100%;
}
#double {
  height: 200%;
}
#slikica {
  background-color: lightgray;
  width: 250px;
  height: 350px;
  margin: 10px;
  border: 10px solid gray;
  border-radius: 30px;
  position: static;
  float: left;
}
#zastava {
  width: 250px;
  margin: 0px;
}
#tur {
  margin: 0px;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
#cont {
  width: 100%;
  height: 250px;
  padding: 10px;
}
#tekst1 {
  width: 60%;
  height: 250px;
  text-align: center;
  float: left;
  margin: 0px;
}
#slika1 {
  margin: 0px;
  width: 35%;
  height: 250px;
  float: right;
}
#slikaa1 {
  height: 250px;
}
#cont2 {
  width: 100%;
  height: 300px;
  padding: 10px;
}
#tekst2 {
  width: 60%;
  height: 300px;
  text-align: center;
  float: left;
  margin: 0px;
}
#slika2 {
  margin: 0px;
  width: 35%;
  height: 300px;
  float: right;
}
#slikaa2 {
  height: 300px;
}
#nslovna {
  width: 100%;
  height: 400px;
  margin: 0px;
}
#naslov {
  position: relative;
  top: -300px;
  color: goldenrod;
  right: 475px;
  margin: 0px;
}
#tekst {
  width: 100%;
  height: 800px;
  margin: 0px;
  margin-top: -40px;
  padding-top: 40px;
  background-color: lightblue;
}
